.col-sm-3 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

div.row > div.col-sm-3 {
    float: left !important;
    position: relative;
    width: 25%;
}

div[role=main] {
    padding-left: 5%;
}

.form-group, .shiny-input-container {
    margin-bottom: 0px;
}

.form-control, pre.shiny-text-output {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin: 0 0 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
}

pre.shiny-text-output {
    background-color: #FAF9F6;
    font-family: inherit;
}

#int_pos, #tot_tot, #int_tot, #tot_pos {
    border: 1px solid #dbd7d2;

}

#con_pos, #con_tot {
    border-left: 1px solid #dbd7d2;
    border-right: 1px solid #dbd7d2;
}

#int_neg, #tot_neg {
    border-top: 1px solid #dbd7d2;
    border-bottom: 1px solid #dbd7d2;
}


h5 {
    margin-top: 7px;
    margin-bottom: 7px;
}

span.nil {
    color: #f50000;
}

span.anec {
    color: #ed8d00;
}

span.mod {
    color: #d8da39;
}

span.str {
    color: #9abc20;
}

span.vstr {
    color: #5c9d0a;
}

span.extr {
    color: #037e00;
}

span.low {
    color: #006400;
}

span.med {
    color: #FF8C00;
}

span.high {
    color: #DC143C;
}